body {
    max-width: 100%;
}

h2 {
    color: navy;
}

td, th {
    padding: 10px;
    vertical-align: bottom;
    text-align: left;
}

.switch {
    width: 80px;  
    height: 50px;
    font-weight: bold;
}